body{
    background-color:midnightblue;
    display: flex;
    justify-content:flex-start;
}

.pics {
    display: flex;
    justify-content: center;
}

.pics button{
    width: 20%;
    height: 20%;
}